/*Selector Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*El estilo de letra de https://fonts.google.com/*/
.cabin-letra {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;
    font-variation-settings:
"wdth" 100;
}
/*Body va afectar todos los elementos*/
body{
    background-color: rgb(199, 154, 114);
    font-family: "Cabin", sans-serif;
    font-weight: 50;
    font-style: normal;
}

main{
    /*Ajustar las tarjetas a varias lineas*/
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: rgb(124, 27, 27);
}

/*Las clases empiezan con .nombreClase
y sirven para reutilizar la funcion/estilos*/
.tarjeta{
    width: 215px;
    height: 550px;
    background-color: rgb(255, 253, 183);
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px; /*Tambien se puede ver como margin: 6px 6px 6px 6px; */
    padding: 10px;
    border: 3px solid black;
    transition: all 0.5s ease-in-out; 
}

.titulo-tarjeta{
    margin-bottom: 10px;
}

.tarjeta:hover{
    background-color: rgb(250, 255, 109);
    transform: scale(1.05);
    transform: rotate(3deg);
}

.tarjeta .imagen{
    width: 180px;
}

.tarjeta img{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    color: rgb(18, 72, 92);
    font-size: 20px;
}

/*Selector de ID es unico (algo que no se puede repetir)*/
#mole{
    color: brown;
}

#chocolate{
    color: chocolate;
}

#tlayuda{
    color: rgb(106, 106, 23);
}

#tamales{
    color: rgb(78, 51, 0);
}

#tejate{
    color: rgb(223, 141, 27);
}

#piedra{
    color: rgb(26, 26, 5);
}